<h1>New video</h1>

<p>
  Acesse o seu vídeo e observe a URL (endereço do vídeo no YouTube) exemplo, www.youtube.com/watch?v=<span style="color:red">vPgxoGMaaR0</span>, onde o código em vermelho é a referência do vídeo.<br />
  Copie a referência como no exemplo acima e insira no local indicado dentro do código: 
</p>

<%= render 'form' %>

<%= link_to 'Back', videos_path %>
